@font-face {
    font-family: Kanit;
    src: url(Fonts/Kanit/Kanit-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}

/* dark mode button */
.theme-toggle {
    background: none;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    background: transparent;
}



#switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

#switch input {
    opacity: 0;
    width: 13;
    height: 26;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--foreground);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--secondary);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 60px;
}

.slider.round:before {
    border-radius: 50%;
}

:root {
    --primary: #638d00;
    --secondary: #d1d1d1;
    --background: #141414;
    --foreground: #5a5a5a;
}

.lightmode {
    --primary: #638d00;
    --secondary: #141414;
    --background: #d1d1d1;
    --foreground: #5a5a5a;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 10px;
}

::-webkit-scrollbar:hover {
    width: 6px;
}


/* Cursor */
.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: var(--primary);
}

.cursor-outline {
    width: 10px;
    height: 10px;
    border: 1px solid var(--foreground);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

/* Header */
nav a {
    display: inline-block;
    padding: 0px 7px;
    cursor: pointer;
}

.logo {
    height: 98;
    cursor: pointer;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

li,
a,
button {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary);
    list-style: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 30px;
    backdrop-filter: blur(3.5px);
    position: fixe;
}

nav a {
    transition: all 0.1s ease 0s;
    color: var(--secondary);
}

nav a:hover {
    color: var(--primary);
    font-size: 17px;
}

label {
    margin-left: 7px;
}

.cta {
    font-weight: 600;
    margin-left: 14px;
    padding: 7px 25px;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--background);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.cta:hover {
    background-color: var(--secondary);
    font-size: 17px;
}

.socialicons {
    backdrop-filter: blur(1.5px);
    position: fixed;
    bottom: 2%;
    /* transform: translateY(0%); */
}

.socialicons a {
    display: block;
    text-align: center;
    transition: all 0.9s ease;
    color: var(--background);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary);
    align-items: center;
    justify-content: center;
    padding-top: 9%;
    margin: 10px 30px;
}

i {
    height: 39px;
}

.socialicons i {
    height: 35px;
    color: var(--background);
}

.socialicons a:hover {
    background: var(--secondary);
}


/* Services */
/* .page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 5vw 7vw;
}

.page5 h2 {
    font-size: 4vw;
    font-family: nohemi;
    color: var(--primary);
    margin-bottom: 1vw;
}

.page5 h3 {
    color: var(--secondary);
    font-weight: 300;
    font-size: 2vw;
}

.page5 h4 {
    color: var(--secondary);
    font-weight: 300;
    font-size: 1vw;
}

.box {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3vw;
    padding: 0 1vw;
    border-top: 0.01vw solid var(--primary);
}

.box:nth-last-child(1) {
    border-bottom: 0.01vw solid var(--primary);
}  */






/* temp */
#second {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    width: 80%;
    margin-bottom: 60px;
    overflow: hidden;
}

.elem {
    align-items: center;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    padding: 1vw 0vw;
    padding-right: 0;
    border-top: 1px solid var(--foreground);
    transition: all 0.5s ease;
    cursor: pointer;
}

.elem:hover {
    padding: 2vw;
}

.elem:hover h1 {
    color: var(--primary);
    font-size: 3.5vw;
}

.elem:hover h5 {
    color: var(--primary);
    font-size: 1.5vw;
}


.elem h1 {
    font-weight: 600;
    /* text-transform: uppercase; */
    font-size: 3vw;
    color: var(--foreground);
    font-family: Nohemi;
    transition: all 0.5s ease;
}

.elem h5 {
    font-weight: 300;
    color: var(--foreground);
    transition: all 0.5s ease;
    font-size: 1vw;
}

.elemlast {
    border-bottom: 1px solid var(--foreground);
}

.elem img {
    box-shadow: 5px 5px 25px var(--foreground);
    border-radius: 1.5vw;
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}




/* footer */
footer {
    /* margin-top: 1500vh; */
    margin: 0 1vw;
    border-top: .3px solid var(--foreground);
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .leftfooter h5 {
    color: var(--secondary);
    font-weight: 400;
    font-size: 1.3vw;
}

footer .rightfooter .icons {
    font-size: 14px;
    color: var(--secondary);
    display: none;

}

footer .rightfooter a {
    padding: .2vw 3vw;
}









@media (max-width:600px) {

    /* header */
    .cta {
        margin-top: 10px;
    }






    #second .elem {
        display: flex;
        flex-direction: column;
        text-align: left;
        /* align-items: center; */
    }

    .elem img {
        border-radius: 15%;
        height: 80%;
        overflow: hidden;
    }

    .elem h1 {
        text-transform: uppercase;
        font-size: 60px;
        color: var(--foreground);
        font-family: Nohemi;
        transition: all 0.5s ease;
    }

    .elem h5 {
        font-weight: 300;
        color: var(--foreground);
        transition: all 0.5s ease;
        font-size: 30px;
    }

    .elem:hover h1 {
        font-size: 65px;
    }

    .elem:hover h5 {
        font-size: 35px;
    }



    .socialicons {
        display: none;
    }

    /* footer */
    footer .rightfooter .icons {
        display: inherit;

    }

    .rightfooter a {
        display: none;
    }

    footer .leftfooter h5 {
        font-size: 12px;
    }

}